server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: ${USER_SERVICE_URL:http://localhost:8086}
          predicates:
            - Path=/users/**

        - id: notification-service
          uri: ${NOTIFICATION_SERVICE_URL:http://localhost:8087}
          predicates:
            - Path=/notifications/**

        - id: email-confirmation-service
          uri: ${EMAIL_CONFIRMATION_SERVICE_URL:http://localhost:8088}
          predicates:
            - Path=/email-confirmations/**
          filters:
            - RewritePath=/email-confirmations/(?<segment>.*), /$\{segment}

        - id: account-service
          uri: ${ACCOUNT_SERVICE_URL:http://localhost:8089}
          predicates:
            - Path=/accounts/**

        - id: transaction-service
          uri: ${TRANSACTION_SERVICE_URL:http://localhost:8090}
          predicates:
            - Path=/transactions/**
          filters:
            - RewritePath=/transactions/(?<segment>.*), /internal/transactions/$\{segment}
